<div class="w-full h-full flex flex-col text-center">	
	<div class="flex flex-col">
		<h3 class="my-2 font-bold pl-3 underline">Catégories</h3>
		<div class="flex flex-col pl-4 ">
			<a class="mb-1 transition duration-500 ease-in-out hover:underline transform hover:-translate-y+1 hover:scale-110 " href="{{ path('dashboard_create_category') }}">Créer</a>
			<a class="mb-1 transition duration-500 ease-in-out hover:underline transform hover:-translate-y-1 hover:scale-110" href="{{ path('dashboard_list_categories') }}">Lister</a>
		</div>	
	</div>
	<div class="flex flex-col">
		<h3 class="my-2 font-bold pl-3 underline">Technos</h3>
		<div class="flex flex-col pl-4 ">
			<a class="mb-1 transition duration-500 ease-in-out hover:underline transform hover:-translate-y+1 hover:scale-110 " href="{{ path('dashboard_create_techno') }}">Créer</a>
			<a class="mb-1 transition duration-500 ease-in-out hover:underline transform hover:-translate-y-1 hover:scale-110" href="{{ path('dashboard_list_technos') }}">Lister</a>
		</div>	
	</div>
</div>
